# Backend
pb_data/

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.editorconfig
frontend/tests/
frontend/.gitignore
"frontend/Gainsmith Icon.kra"

# Project
.env.example
.git/
*.md
.gitea/
ansible/
